{% extends 'layout.html' %}

{% block title %}Comment Corner{% endblock title %}

{% block content %}
<h1>Leave a Comment</h1>
<form method="POST" action="{{ url_for('commentposted') }}">
  <div>
    <label for="name">Name:</label>
    {{ comment.name(class="form-control") }}
  </div>
  <div>
    <label for="comment">Comment:</label>
    {{ comment.comment(class="form-control") }}
  </div>
  {{ comment.submit() }}
</form>

<h1>Recent Comments</h1>
{% for allcomment in allcomment %}
  <div>{{ allcomment.date }}</div>
  <div>{{ allcomment.name }}</div>
  <div>{{ allcomment.comment }}</div>
{% endfor %}
{% endblock content %}
